SIC/projet/client/src/main/resources/CAODataBaseService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="caodatabase.services.sic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CAODataBaseService" targetNamespace="caodatabase.services.sic">
  <wsdl:types>
    <xsd:schema targetNamespace="caodatabase.services.sic">
      <!--  Définition des trois opérations du service en explicitant le type de leurs arguments et valeurs de retour (s'il y a) -->
      <!--  Opération "disponible" -->
      <xsd:element name="addProduit">
      <!--  Définition du type complexe Produit : contient un élément ID long et une quantité de cd long -->
      <xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pnum" minOccurs="1" maxOccurs="1" type="xsd:long"/>
				<xsd:element name="pnom" minOccurs="1" maxOccurs="1" type="xsd:string"/>			
			</xsd:sequence>
		</xsd:complexType>
      </xsd:element>
                <!--  Opération "disponible" : valeur de retour de type simple booléen -->
      <xsd:element name="addProduitResponse" type="tns:addProduitResponse"/>
	<xsd:complexType name="addProduitResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <!-- Messages wsdl -->
  <wsdl:message name="addProduitRequest">
    <wsdl:part element="tns:addProduit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addProduitResponse">
    <wsdl:part element="tns:addProduitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CAODataBase">
    <wsdl:operation name="addProduit">
      <wsdl:input message="tns:addProduitRequest"/>
      <wsdl:output message="tns:addProduitResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CAODataBaseSOAP" type="tns:CAODataBase">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addProduit">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

        
  </wsdl:binding>
  <wsdl:service name="CAODataBase">
    <wsdl:port binding="tns:CAODataBaseSOAP" name="CAODataBaseSOAP">
      <soap:address location="http://localhost:8080/web-interface/services/CAODataBaseService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
