trunk/Multimif/projet/smix/smix-cxf-bc/src/main/resources/MesServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="MesServices"
	targetNamespace="http://master-info.univ-lyon1.fr/M2TI/TIW5/bc"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://master-info.univ-lyon1.fr/M2TI/TIW5/bc"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:albumds="http://master-info.univ-lyon1.fr/M2TI/TIW5/services">
	<wsdl:import location="AlbumDataService.wsdl"
		namespace="http://master-info.univ-lyon1.fr/M2TI/TIW5/services"></wsdl:import> 
	<wsdl:import location="CDCatalogueService.wsdl"
		namespace="http://master-info.univ-lyon1.fr/M2TI/TIW5/services"></wsdl:import>		
	<wsdl:types>
		<xsd:schema targetNamespace="http://master-info.univ-lyon1.fr/M2TI/TIW5/bc">
			<xsd:element name="test">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="TestOperationRequest">
		<wsdl:part element="tns:test" name="parameters" />
	</wsdl:message>
	<wsdl:message name="TestOperationResponse">
		<wsdl:part element="tns:testResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="TestServicePortType">
		<wsdl:operation name="TestOperation">
			<wsdl:input message="tns:TestOperationRequest" />
			<wsdl:output message="tns:TestOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MesServicesSOAP" type="tns:TestServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TestOperation">
			<soap:operation
				soapAction="http://master-info.univ-lyon1.fr/M2TI/TIW5/bc/TestOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TestService">
		<wsdl:port binding="tns:MesServicesSOAP" name="TestServiceSOAP">
			<soap:address location="http://localhost:8080/test-service-dans-wsdl" />
		</wsdl:port>
	</wsdl:service>
	 <wsdl:service name="AlbumDataServiceBC">
		<wsdl:port name="AlbumDataPortBC" binding="albumds:AlbumDataServiceSoapBinding">
			<soap:address location="http://localhost:8080/AlbumDataPort" />
		</wsdl:port>
	</wsdl:service>	 
	
	<wsdl:service name="CDCatalogueServiceBC">
		<wsdl:port name="CDCataloguePortBC" binding="albumds:CDCatalogueServiceSoapBinding">
			<soap:address location="http://localhost:8080/CDCataloguePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
